**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/LocalDerivedDataCache/
!**/Saved/
**/Saved/*
!**/Saved/Config/
**/Saved/Config/*
!**/Saved/Config/Windows/
**/.~lock*
**/.DS_Store
**/.vs
**/*.swp
